* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0px 30px 120px 30px;
    max-width: 1440px;
    margin: 0 auto;
}

body {
    background-color: #202221;
    font-family: "NeutralFace";
    font-family: "Gogol";
    background-image: url("../image/background.png");
    margin: 0px;
}

@font-face {
    font-family: "NeutralFace";
    src: url("../fonts/NeutralFace/NeutralFace.otf");
}

@font-face {
    font-family: "Gogol";
    src: url("../fonts/Gogol/gogol.otf");
}

h1 {
    font-family: "NeutralFace";
    text-align: left;
    font-size: 160px;
    color: white;
    line-height: 5%;
}

h2 {
    font-family: "Gogol";
    font-size: 115px;
    color: #ADADAD;
    line-height: 5px;
    text-align: left;
}

h3 {
    font-family: "NeutralFace";
    text-align: left;
    font-size: 110px;
    color: white;
    margin-top: 0px;
    margin-bottom: 1px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
}

.list_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "NeutralFace";
    font-size: 30px;
    color: #E5E3E3;
    margin: 0 auto;
    width: 1200px;
    padding-top: 30px;
}

ul {
    list-style-type: none;
}

.menu:hover {
    color: #ADADAD;
}

.end:hover {
    color: #ADADAD;
}

a {
    text-decoration: none;
    color: #E5E3E3;
}

.photo1 {
    height: 405px;
    width: 395px;
    margin-left: 115px;
}


.siikira {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 180px 147px 120px 147px;
    margin: 0 auto;
    max-width: 1440px;
}


.about {
    display: flex;
}

.about_me {
    display: flex;
    position: relative;
}

p {
    font-family: "NeutralFace";
    text-align: left;
    font-size: 30px;
    color: white;
}

.privet {
    width: 656px;
    height: 108px;

}

.text2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.gif1 {
    background-image: url("../image/gif1.gif");
    height: 484px;
    width: 660px;
    background-position: center;
    border-radius: 30px;
}

.gif2 {
    background-image: url("../image/gif2.gif");
    height: 484px;
    width: 660px;
    background-position: center;
    border-radius: 30px;
}

.gif {
    display: flex;
    justify-content: space-between;
}

.proects {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    align-items: end;
}

.proekti {
    margin-top: -20px;
}

.web-design {
    font-family: "NeutralFace";
    text-align: left;
    font-size: 30px;
    color: #ADADAD;
    margin-bottom: 20px;
    margin-right: 490px;
}

.container1 {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0px 30px 70px 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.gif-karina {
    background-image: url("../image/gif3.gif");
    display: block;
    height: 629px;
    width: 100%;
    border-radius: 30px;
    margin-bottom: 40px;
}

.text3 {
    font-family: "NeutralFace";
    text-align: left;
    font-size: 30px;
    color: white;
    margin-top: 40px;
    margin-bottom: 480px;
}

.photograph {
    justify-content: space-between;
    display: flex;
}

.text4 {
    display: flex;
    margin-right: 40px;
}

.photo2 {
    height: 629px;
    width: 679px;
    border-radius: 30px;
    margin-top: 30px;
}

.gif-target {
    background-image: url("../image/gif4.gif");
    display: block;
    height: 629px;
    width: 100%;
    border-radius: 30px;
    margin-bottom: 40px;
}

.photo3 {
    height: 629px;
    width: 680px;
    border-radius: 30px;
    margin-top: 50px;
    margin-right: 50px;
}


.landing {
    font-family: "NeutralFace";
    text-align: left;
    font-size: 30px;
    color: white;
    margin-top: 50px;
}

.text5 {
    margin-top: 480px;
    display: flex;
}

.target {
    display: flex;
    margin: auto;
}

.proects2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    align-items: end;
}

.graf-design {
    font-family: "NeutralFace";
    text-align: left;
    font-size: 30px;
    color: #ADADAD;
    margin-bottom: 20px;
    margin-right: 319px;
}

.proects2 {
    margin-top: -20px;
}

.photo3 {
    height: 629px;
    width: 680px;
    border-radius: 30px;
    margin-top: 50px;
    margin-right: 50px;
}

.identity {
    font-family: "NeutralFace";
    text-align: left;
    font-size: 30px;
    color: white;
    margin-top: 50px;
    justify-content: space-between;
    display: flex;
}

.text7 {
    margin: 531px 0px 0px 0px;
    display: flex;
}

.text7 p {
    margin: 0;
}

.photo5 {
    height: 629px;
    width: 680px;
    border-radius: 30px;
}

.text_posters p {
    margin: 0;
}

.text8 {
    margin-top: 530px;
}

.text8 p {
    margin: 0;
}

.text_posters {
    margin-left: 50px;
}

.posters {
    display: flex;
    padding: 60px 0px 120px 0px;
    align-items: end;
    margin: 0 auto;
}

.my_contacts h2 {
    margin: 0;
}

.footer_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "NeutralFace";
    font-size: 30px;
    color: #E5E3E3;
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 30px;
}